@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&family=Signika:wght@300&display=swap');
/* 
font-family: 'Sigmar One',
sans-serif;
font-family: 'Signika',
sans-serif; */

body{
  background-color: #4158D0;
    background-image: linear-gradient(180deg, #4158D0 0%, #7d2578 30%, #c19333 66%, #ad0e00 100%);
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.color{
  font-family: 'Sigmar One',sans-serif;
  color: cornsilk;

}