@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&family=Signika:wght@300&display=swap');
/* 
font-family: 'Sigmar One',
sans-serif;
font-family: 'Signika',
sans-serif; */

body {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #275a8e 0%, #bd9fd8 100%);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.color {
  font-family: 'Signika', sans-serif;
  color: rgba(34, 12, 63, 0.885);
}